name: set output 
env:
  FIREBASE_EMULATORS_PATH: ${{GITHUB.WORKSPACe}}/emulator-cach
on: push
jobs:
  job1:
    runs-on: ubuntu-latest
  
    steps:
    - uses: actions/checkout@v2
    - shell: bash
      id: release_description
      run: |
        echo $FIREBASE_EMULATORS_PATH
    - uses: actions/hello-world-docker-action@master
      with:
         who-to-greet: ${{ env.FIREBASE_EMULATORS_PATH }}
   
 
